* {
    text-align: center;
}

body {
    font-family: 'Oswald', sans-serif;
    min-height: 400px;
    background-color: #002b49;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

table {
    border: 2px solid white;
    border-collapse: collapse;
}

h1 {
    color: white;
}

th, tr, td {
    border: solid 1px white;
    color: white;
}

.creditos {
    margin-top: 60px;
    display: flex;
    align-items: center;
    color: white;
    width:100%;
    display: flex;
    justify-content: center;
}
.creditos span {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-right: 20px;
}
.creditos a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.creditos a:hover {
    color: #03195e;
}
.creditos img {
    position: relative;
    top: -10px;
    width: 126px;
    height: auto;
}